.container {
  background: white;
  width: 100%;
  max-height: fit-content;
  min-height: 80vh;
  height: 100%;

  margin: 0 auto;
  border-radius: 25px;

  padding: 35px 55px 35px 35px;
  position: relative;

  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1400px) {
    width: 1020px;
  }

  @media screen and (max-width: 700px) {
    padding: 35px 35px 35px 15px;
  }
}

.area {
  height: 100%;

  & h2 {
    color: rgba(50, 50, 50, 0.9);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  & p {
    color: rgba(50, 50, 50, 0.7);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.label {
  color: #3e3e3e;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
