.service {
  &_container {
    width: 400px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 10px;

    background-color: none;
    transition: all 0.1s;
    &:hover {
      background: rgba(0, 0, 0, 0.13);
      cursor: pointer;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
  &_text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #3e3e3e;
    margin-left: 5px;
  }
}
