.suggestions {
  &_container {
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    padding: 30px 0;
  }

  &_item {
    display: flex;
    & button {
      margin-left: auto;
    }
    & img {
      width: 55px;
      height: 55px;

      border-radius: 51px;
      object-fit: cover;
      cursor: pointer;
    }
    display: flex;
    align-items: center;
  }
  &_content {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    cursor: pointer;

    & h5 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;

      color: #323232;
      margin: 0;
      padding: 0;
    }
    & p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;

      color: rgba(50, 50, 50, 0.7);
      margin: 5px 0 0 0;
      padding: 0;

      display: flex;
      align-items: center;
      grid-gap: 4px;

      & svg {
        width: 18px;
        height: 18px;
        & path {
          fill: rgba(50, 50, 50, 0.5);
        }
      }
    }
  }
  &_avatar {
    cursor: pointer;
  }
}

.wrapper {
  display: none;
  @media screen and (min-width: 1150px) {
    display: block;
  }
}
