.dashboard {
  &_container {
    max-width: 1490px;
    margin: 0 auto;

    padding: 0 20px;
    overflow-y: auto;
    max-height: 100vh;

    /*     max-height: 100vh;
    overflow-y: auto; */

    @media screen and (min-width: 1500px) {
      padding: 0;
    }
  }
  &_content {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1150px) {
      flex-direction: row;
      align-items: start;
    }
  }
  &_column {
    display: flex;
    flex-direction: column;

    grid-gap: 25px;
  }
}

.postinput {
  opacity: 0.1;
  z-index: -10;
  animation: fadeOut 0.5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

.hide {
  z-index: -10;
  opacity: 0;
  animation: fadeOutFull 0.5s;
}

@keyframes fadeOutFull {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// .post_show {
//   width: 100%;
//   position: fixed;
//   margin: 0 auto;
//   left: 50%;
//   transform: translateX(-50%);
//   top: 5vh;
//   animation: foldIn 0.3s;
// }

@keyframes foldIn {
  from {
    transform: translateY(4000px) translateX(-50%);
  }
  to {
    transform: translateY(0px) translateX(-50%);
  }
}

// .post_hide {
//   width: 100%;
//   position: fixed;
//   margin: 0 auto;
//   animation: foldOut 0.3s;
//   transform: translateY(1000px) translateX(-50%);
// }

@keyframes foldOut {
  from {
    transform: translateY(0px) translateX(-50%);
  }
  to {
    transform: translateY(4000px) translateX(-50%);
  }
}

// .post_editor {
//   transform: translateY(-5000px);
// }

.post_section {
  width: 100%;
  padding: 20px 20px;
}

.post_anim_show {
  animation: foldIn 0.5s;
}
.post_anim_hide {
  animation: foldOut 0.5s;
}

.post_editor {
  width: 100%;
  position: fixed;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  top: 5vh;
}

.post_show {
  transform: translateY(0px) translateX(-50%);
}

.post_hide {
  transform: translateY(4000px) translateX(-50%);
}
