.drawing {
  border: 1px solid #c0bfbf;
  border-radius: 25px;
  padding: 20px;

  & svg {
    height: 100%;
    width: 100%;
    max-height: 25vh;
  }
}

.container {
  position: relative;
  margin-top: 10px;
}

.button {
  width: 30px;
  height: 30px;

  border-radius: 100px;

  position: absolute;
  border: 2px solid #7c6fa9;

  top: -10px;
  right: -10px;

  background: white;

  & svg {
    & path {
      fill: #7c6fa9;
    }
  }
}

.edit {
  border-radius: 100px;
  position: absolute;

  bottom: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  grid-gap: 6px;

  color: #7c6fa9;
  padding: 8px 16px;

  &:hover {
  }

  & svg {
    min-width: 18px;
    min-height: 18px;
    max-width: 18px;
    max-height: 18px;

    & path {
      fill: #7c6fa9;
    }
  }
}
