.button {
  border-radius: 100px;
  padding: 10px 30px;
}

.footer {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  position: relative;
  z-index: 10;

  &_buttons {
    display: flex;
    align-items: center;
    grid-gap: 8px;
  }

  &_data {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.button_secondary {
  border-radius: 100px;
  padding: 10px 30px;

  @media screen and (max-width: 700px) {
    padding: 10px 10px;
  }

  & svg {
    & path {
      fill: #7c6fa9;
    }
  }
}

.limit_reached {
  color: rgb(141, 2, 2);
}
