.container {
  display: flex;
  flex-direction: column;
  gap: 6px;

  background: #f9f8ff;
  width: fit-content;
  border-radius: 100px;
  padding: 5px 2px;

  position: absolute;
  top: 15px;
  right: 20px;
}
