.post {
  &_container {
    height: fit-content;
    width: 641.49px;

    padding: 15px 25px;

    display: flex;
    flex-direction: column;
    grid-gap: 25px;

    background: #ffffff;
    border-radius: 25px;
    margin-top: 26px;
  }
}
