.categories {
  &_container {
    display: flex;
    flex-direction: row;
    grid-gap: 12px;
    margin-top: 0;
    width: 100%;

    @media screen and (min-width: 1150px) {
      flex-direction: column;
      margin-top: 16px;
    }
  }
  &_item {
    display: flex;
    align-items: center;
    grid-gap: 10px;

    padding: 0px;
    border-radius: 45px;
    border: none;
    cursor: pointer;
    user-select: none;
    background: none;
    transition: all 0.2s;

    &_open {
      background: #f9f9f9;
      transition: all 0.2s;
    }

    @media screen and (min-width: 1150px) {
      padding: 6px;
    }

    @media screen and (max-width: 700px) {
      padding: 3px;
    }
  }
  &_name {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #3e3e3e;
  }
  &_icon {
    width: 40px;
    height: 40px;
    background: #5c6a8b;

    border-radius: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

    @media screen and (max-width: 700px) {
      width: 35px;
      height: 35px;
    }

    &_open {
      background: #192a51;
    }
    & svg {
      width: 25px;
      height: 25px;

      @media screen and (max-width: 700px) {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.expanded {
  width: 55px;
}
