.categories {
  &_container {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    margin-top: 16px;
  }
  &_item {
    display: flex;
    align-items: center;
    grid-gap: 10px;

    padding: 6px;
    border-radius: 45px;
    border: none;
    cursor: pointer;
    user-select: none;
    background: none;
    transition: all 0.2s;
    &_open {
      background: #f9f9f9;
      transition: all 0.2s;
    }
  }
  &_name {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #3e3e3e;
  }
  &_icon {
    width: 40px;
    height: 40px;
    background: #5c6a8b;

    border-radius: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

    &_open {
      background: #192a51;
    }
    & svg {
      width: 25px;
      height: 25px;
    }
  }
}
