.block {
  &_container {
    width: 350px;
    height: 650px;

    background: #ffffff;
    border-radius: 25px;

    padding: 22px 20px;
  }
  &_header {
    display: flex;
    align-items: center;
    grid-gap: 10px;

    margin: 0;
    padding: 0;
  }
  &_title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    color: #323232;
    margin: 0;
    padding: 0;
  }
  &_titleasset {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
