.user {
  &_container {
    display: flex;
    align-items: center;
    grid-gap: 10px;

    @media screen and (max-width: 700px) {
      grid-gap: 0px;
    }
  }

  &_name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: none;
    align-items: center;

    color: #323232;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;

    @media screen and (min-width: 800px) {
      display: flex;
    }
  }
}
