.postinput {
  &_container {
    display: flex;
    align-items: center;
  }
  &_avatar {
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 51px;
    & img {
      height: 55px;
      width: 55px;

      object-fit: cover;
    }
  }
  &_field {
    width: 572.23px;
    height: 55px;

    background: #ffffff;
    border-radius: 25px;
    margin-left: 15px;
    position: relative;

    & input {
      width: 100%;
      height: 100%;

      border-radius: 25px;
      padding: 15px;
      border: none;
    }

    &_expanded {
      position: absolute;
    }
  }

  &_buttons {
    display: flex;
    align-items: center;
    grid-gap: 10px;

    position: absolute;
    right: 15px;
    top: 10px;
  }
  &_expanded {
  }
}
