.settings {
  &_container {
    max-width: 1490px;
    margin: 0 auto;

    padding: 0 20px;
    overflow-y: auto;
    max-height: 100vh;

    @media screen and (min-width: 1500px) {
      padding: 0;
    }

    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }
}

.page_content {
  display: flex;
  align-items: center;
  grid-gap: 20px;
}
