.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 6px;
  margin-top: 10px;
  position: relative;
  z-index: 10;
}

.add {
  position: relative;

  width: 90px;
  height: 90px;

  background: #f9f8ff;
  transition: all 0.1s;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;

  &:hover,
  &:active,
  &:focus {
    background: #f1eeff;
  }

  & input {
    opacity: 0;

    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  & p {
    font-size: 26px;
    color: #7c6fa9;
  }
}

.remove {
  position: absolute;

  width: 24px;
  height: 24px;

  border-radius: 100px;

  top: 4px;
  right: 4px;

  background: #f9f8ff;

  & svg {
    & path {
      fill: #192a51;
    }
  }
}

.item {
  position: relative;
  border: 1px solid #f1eeff;
  border-radius: 10px;

  & img {
    border-radius: 10px;
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
}
